html, body, pre, code, kbd, samp {
  font-family: "Press Start 2P";
}
body {
  padding: 20px;
}
h1 {
  text-align: center;
}
.nes-table-responsive table {
  margin: 4px auto !important;
}
.rank-1 {
  background-color: gold;
}
.rank-2 {
  background-color: silver;
}
.rank-3 {
  background-color: #cd7f32;
}
